
/* #a780ad
#9297db
#cf91aa
#cdb3d8
#e0def4

*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&display=swap');

body {
    font-family: "Lobster", "Roboto", "Condensed";
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    background-color: #e0def4;
}

/* Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    background-color: 	#cdb3d8;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: auto;
    z-index: 1000;
}

header h1 {
    margin-left: 50px;
    font-family: 'Lobster', cursive;
    color:	#ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    position: relative;
}

header h1 span {
    position: relative;
    left: 100px; 
}

h1 {
    flex: 1 0 auto;
}
.logo {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    height: 100px; 
    width: auto;
    object-fit: contain;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    transition: color 0.5s ease, font-size 0.5s ease, background-color 0.5s ease, border 0.5s ease;
    padding: 10px;
}

header nav ul li a:hover {
    border: 2px solid #9297db;
    background-color: #9297db; 
    color: white; 
    padding: 10px;
}

.nav-container {
    width: 80%;
}

header nav ul {
    list-style: none;
    padding-right: 50px;
    display: flex;
    justify-content: flex-start;
}

header nav ul li {
    margin-left: 30px; 
}

/*products*/

#products, #cart {
    width: 60%;
    padding: 2%;
    box-sizing: border-box;
    margin-top: 0;
}

#products h4 {
    padding-left: 50px;
    margin-top: 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;

}

.container {
    display: flex; 
}


.products-row, .products-row1 {
    display: flex; 
    margin-left: 40px;
    width: 100%;
}

.product1, .product2, .product3, .product4, .product5, .product6, .product7, .product8 {
    flex: 1 0 270px;
    max-width: 250px;
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #cdb3d8;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

.product1:hover, .product2:hover, .product3:hover, .product4:hover, .product5:hover, .product6:hover, .product7:hover, .product8:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
} 

.product1:hover .add-to-cart, 
.product2:hover .add-to-cart, 
.product3:hover .add-to-cart, 
.product4:hover .add-to-cart, 
.product5:hover .add-to-cart, 
.product6:hover .add-to-cart,
.product7:hover .add-to-cart,
.product8:hover .add-to-cart {
    display: inline-block;
}

/*Add to Cart Button*/

.add-to-cart {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    border: 3px solid #9297db;
    background-color: transparent;
    color: #9297db;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.add-to-cart:hover {
    background-color:#9297db;
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/*Hover Animation for the Products*/

.hover-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 83, 83, 0.5);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.product1:hover .hover-background,
.product2:hover .hover-background,
.product3:hover .hover-background,
.product4:hover .hover-background,
.product5:hover .hover-background,
.product6:hover .hover-background,
.product7:hover .hover-background,
.product8:hover .hover-background {
    transform: translateY(0);
    opacity: 1;
}
/*Image, Name, and Prices of the Products*/

.product1 img, .product2 img, .product3 img, .product4 img, .product5 img, .product6 img, .product7 img, .product8 img{
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product-name, .product-price {
    display: block;
    align-self: flex-start;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

/* Cart*/

#cart {
    position: absolute;
    height: 150vh;
    padding: 2vw; 
    top: 123px; 
    right:0;
    background-color:#cdb3d8;
    overflow-y: auto;
    font-family: 'Roboto Condensed', sans-serif;
    transition: width 0.5s ease-in-out, right 0.5s ease-in-out;
    display: block;
    width: 15%;
    transition: width 0.5s ease-in-out;
    overflow: visible;
    border-left: 1px solid #ffffff;
}

h3 {
    letter-spacing: 2px; 
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'Roboto Condensed', sans-serif;
}

.fas.fa-shopping-bag {
    margin-left: 10px;
}

#products {
    width: 70%;
    transition: width 0.5s ease-in-out;
}

#cart li {
    list-style-type: none;
    text-align: left;
}

#cart-items {
    padding-left: 0;
    height: 110vh; 
    overflow-y: auto; 
}

.cart-item {
    display: flex;
    align-items: start;
    flex-direction: row;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 0.8em; 
    padding: 5px 0; 
    margin-top: 10px;
}

.cart-item img {
    border: 1px solid rgb(171, 168, 168);
    margin-right: 10px;
    width: 50px; 
    height: 50px; 
    object-fit: fill; 
}
.cart-item p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: normal;
}

.cart-item p:last-child {
    display: block;
}

.remove-button {
    border: none; 
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold; 
    margin: 4px 2px;
    cursor: pointer;
    visibility: hidden;
    background: transparent; 
    margin-top: 20px;
}

.cart-item:hover .remove-button {
    visibility: visible; 
}

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 3px solid #fff; 
    color: 	#ffff; 
    background-color: transparent;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    font-size: medium;

}

#total {
    color: #ffffff; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.checkout:hover {
    background-color: #ffffff; 
    color:  #cdb3d8;
}

.checkout:active {
    transform: scale(0.9);
}

.temp-element {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(250, 250, 250, 0.8);
    animation-name: modalOpen;
    animation-duration: 1s;
}

.modal-content {
    background-color: #ceb6d9;
    margin: 15% auto;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 50%;
    height: 170px;
    animation-name: popIn;
    animation-duration: 0.5s;
}

.modal-content p {
    font-size: 2em; 
    text-align: center; 
    color: #ffffff;

}

#continue-shopping {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: transparent;
    color: white;
    border: 3px solid #ffffff;
    cursor: pointer;
    font-size: 1em;
}

#continue-shopping:hover {
    background-color: #ffffff;
    color: #ceb6d9;
}

#continue-shopping:active {
    transform: scale(0.9);
}

/* Animation*/

@keyframes popIn {
    0% {transform: scale(0); opacity: 0;}
    85% {transform: scale(1.05); opacity: 1;}
    100% {transform: scale(1); opacity: 1;}
}
